:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  grid-gap: 24px;
  max-width: 1560px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 24px auto;
  padding: 0;
  display: grid;
  justify-content: center;
}
.photo-card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.photo-link {
  display: inline-block;
  height: 240px;
  width: 100%;
}
.photo-card img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
  border-radius: 1px;
}
.photo-card img:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
.info {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}
.info-item {
  display: flex;
  flex-direction: column;
}
.load-more.hidden {
  display: none;
}

/* .spinner.hidden {
  display: none;
} */
